---
title: Calendar | REDLINE
layout: page
---


<table class="gigpress-table upcoming" cellspacing="0">
	<tbody>
		<tr class="gigpress-header">
			<th scope="col" class="gigpress-date">Date</th>
		    <th scope="col" class="gigpress-time">Time</th>
			<th scope="col" class="gigpress-venue">Venue</th>
            <th scope="col" class="gigpress-city">City</th>
		</tr>
        <tr class="gigpress-tr-spacer"></tr>
	</tbody>

{% capture nowminusdate %}{{'now' | date: '%s' | divided_by: 86400| minus: 1 }}{% endcapture %}
{% for show in site.data.shows %}
{% capture showdate %}{{ show.Date | date: '%s' | divided_by: 86400 }}{% endcapture %}
{% if nowminusdate < showdate %}
<tbody class="vevent">
	
	<tr class="gigpress-row active">
	
		<td class="gigpress-date">
			<abbr class="dtstart" title="{{ show.Date }}">{{ show.Date | date: '%m/%d/%y' }}</abbr>
			<span class="hide url">http://redlinenc.com</span>
		</td>
		
	    <td class="gigpress-time">{{ show.Time }}</td>
    	<td class="gigpress-venue location"><a href="{{ show.Url }}" target="_blank">{{ show.Venue }}</a></td>
		<td class="gigpress-city summary">{{ show.City }}, {{ show.State }}</td>
	</tr>
	
	<tr class="gigpress-info active">
		<td class="gigpress-links-cell"></td>
        <td></td>
		<td colspan="3" class="description">
		<span class="gigpress-info-item"><span class="gigpress-info-label">Address:</span> 
		<a href="http://maps.google.com/maps?&amp;q={{ show.Address | cgi_escape }},{{ show.City | cgi_escape }},{{ show.State | cgi_escape}}" 
			class="gigpress-address" target="_blank">{{ show.Address }}</a></span>
						
		<span class="gigpress-info-item"><span class="gigpress-info-label">Venue phone:</span> {{ show.Phone }}</span>
		</td>
      <tr class="gigpress-tr-spacer"></tr>	
	</tr>
</tbody>	
{% endif %}
{% endfor %}
</table>
