  <header>
      <!-- <h1><a href="/">REDLINE</a></h1> -->
      <div id="band-photo">
	   <div id="social-networking">
        <div class="facebook">
          <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fredlinenc&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:135px; height:21px;" allowTransparency="true">
          </iframe>
        </div><!-- end .facebook -->
        <div class="twitter">
          <a href="https://twitter.com/RedlineNC" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @RedlineNC</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div><!-- end .twitter -->
       </div><!-- end #social-networking -->
      </div><!-- end #band-photo -->
	  <nav class="mainMenu">
	  	<div class="menu-navmain-container">
	  		<ul id="menu-navmain" class="menu">
	  			<li id="menu-item-532" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-298 current_page_item menu-item-532"><a href="{{ "/"| prepend: site.baseurl }}">Home</a></li>

	  			<li id="menu-item-528" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-528"><a href="{{ "/calendar/"| prepend: site.baseurl }}">Calendar</a></li>

	  			<li id="menu-item-533" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-533"><a href="{{ "/set-list/"| prepend: site.baseurl }}">Set List</a></li>

	  			<li id="menu-item-534" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-534"><a href="{{ "/meet-the-band/"| prepend: site.baseurl }}">Meet the Band</a></li>

	  			<li id="menu-item-557" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-557"><a href="{{ "/photos/"| prepend: site.baseurl }}">Photos</a></li>

	  			<li id="menu-item-565" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-565"><a href="{{ "/video/"| prepend: site.baseurl }}">Video</a></li>

				<li id="menu-item-529" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-529"><a href="{{ "/contact-us/"| prepend: site.baseurl }}">Contact Us</a></li>
	  		</ul>
	  	</div>
	  	<div class="clearfloat"></div><!-- end .clearfloat -->
      </nav>
 </header>
