<!DOCTYPE html>
<html>

  {% include head.html %}

<body class="home page page-id-298 page-template-default">
<div id="outerWrapper">
<div id="innerWrapper">

    {% include header.html %}

<div id="contentWrap">
  <div id="content">
	<article class="page type-page status-publish hentry" id="home">
		<div class="entry">
			<div id="home-content">
			<div id="main-quote">
			 	{{ content }}
			</div>
<div id="#fan-quote">
<h1>What our fans are saying&#8230;</h1>
<p>August 31, 2014</p>
<p>Best band we&#8217;ve heard in years! Had a blast! Roy &amp; Lynne U guys ROCK!</p>
<p>Roy</p>
<p>&nbsp;</p>
<p>August 31, 2014</p>
<p>AWESOME!!!</p>
<p>JD</p>
<p>&nbsp;</p>
<p>July 20, 2014</p>
<p>You guys are awesome!  I look  forward to seeing you again! <img src='http://redlinenc.com/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' /> </p>
<p>Nora</p>
<p>&nbsp;</p>
<p>July 18, 2014</p>
<p>Fantastic performance tonight!!!</p>
<p>Cheryl</p>
<p>&nbsp;</p>
<p>May 24, 2014<br />
Great job tonight! You guys rock!<br />
Lauren<br />
 <br />
May 24, 2014<br />
Redline Band Raleigh NC is awesome! You guys kill it! Hope you return to this venue again real soon!<br />
Amy<br />
 <br />
May 17, 2014<br />
Saw you guys tonight at Aversboro and you were awesome. Great song selection, energy, and very tight band. Thank you for the music!<br />
John</p>
</div>
<p><!-- end #fan-quote --></p>


<p><!-- end #home-content --></p>
		</div>
<p><!-- end #entry --></p>
		</div>
 	</article>
   </div>

  <div class="widget-area">
  <aside id="gigpress-2" class="widget widget_gigpress"><h3>Upcoming Shows</h3>
<ul class="gigpress-listing vcalendar">

<li class="vevent active">
	<span class="gigpress-sidebar-date">
    	<span class="gigpress-sidebar-event-date">
		<abbr class="dtstart" title="2014-12-12T22:30:00">12/12/14</abbr>
		        </span>
        <span class="gigpress-sidebar-time">&nbsp;@&nbsp;10:30pm</span>
	</span>
    
	<span class="summary">
    <!--
			<span class="hide">		<span class="gigpress-sidebar-artist">Redline</span> 
		<span class="gigpress-sidebar-prep">in</span> 
		</span>
				<span class="gigpress-sidebar-city">Raleigh, NC</span>
    </span> 
	<span class="gigpress-sidebar-prep">at</span> 
    -->
	<span class="location gigpress-sidebar-venue"><a href="http://www.oxfordraleigh.com" target="_blank">The Oxford Pub</a></span> 
	</li>

<li class="vevent gigpress-alt active">
	<span class="gigpress-sidebar-date">
    	<span class="gigpress-sidebar-event-date">
		<abbr class="dtstart" title="2014-12-31T22:00:00">12/31/14</abbr>
		        </span>
        <span class="gigpress-sidebar-time">&nbsp;@&nbsp;10:00pm</span>
	</span>
    
	<span class="summary">
    <!--
			<span class="hide">		<span class="gigpress-sidebar-artist">Redline</span> 
		<span class="gigpress-sidebar-prep">in</span> 
		</span>
				<span class="gigpress-sidebar-city">Raleigh, NC</span>
    </span> 
	<span class="gigpress-sidebar-prep">at</span> 
    -->
	<span class="location gigpress-sidebar-venue"><a href="http://www.wildwingcafe.com/our-locations/raleigh-nc.php" target="_blank">Wild Wing Cafe &#8211; Brier Creek</a></span> 
	</li>

<li class="vevent active">
	<span class="gigpress-sidebar-date">
    	<span class="gigpress-sidebar-event-date">
		<abbr class="dtstart" title="2015-01-24T21:30:00">01/24/15</abbr>
		        </span>
        <span class="gigpress-sidebar-time">&nbsp;@&nbsp;9:30pm</span>
	</span>
    
	<span class="summary">
    <!--
			<span class="hide">		<span class="gigpress-sidebar-artist">Redline</span> 
		<span class="gigpress-sidebar-prep">in</span> 
		</span>
				<span class="gigpress-sidebar-city">Garner, NC</span>
    </span> 
	<span class="gigpress-sidebar-prep">at</span> 
    -->
	<span class="location gigpress-sidebar-venue"><a href="http://www.clevelanddrafthouse.com/index.html" target="_blank">Cleveland Draft House</a></span> 
	</li>

<li class="vevent gigpress-alt active">
	<span class="gigpress-sidebar-date">
    	<span class="gigpress-sidebar-event-date">
		<abbr class="dtstart" title="2015-01-31T22:00:00">01/31/15</abbr>
		        </span>
        <span class="gigpress-sidebar-time">&nbsp;@&nbsp;10:00pm</span>
	</span>
    
	<span class="summary">
    <!--
			<span class="hide">		<span class="gigpress-sidebar-artist">Redline</span> 
		<span class="gigpress-sidebar-prep">in</span> 
		</span>
				<span class="gigpress-sidebar-city">Raleigh, NC</span>
    </span> 
	<span class="gigpress-sidebar-prep">at</span> 
    -->
	<span class="location gigpress-sidebar-venue"><a href="http://www.wildwingcafe.com/our-locations/raleigh-nc.php" target="_blank">Wild Wing Cafe &#8211; Brier Creek</a></span> 
	</li>

<li class="vevent active">
	<span class="gigpress-sidebar-date">
    	<span class="gigpress-sidebar-event-date">
		<abbr class="dtstart" title="2015-02-06T22:30:00">02/06/15</abbr>
		        </span>
        <span class="gigpress-sidebar-time">&nbsp;@&nbsp;10:30pm</span>
	</span>
    
	<span class="summary">
    <!--
			<span class="hide">		<span class="gigpress-sidebar-artist">Redline</span> 
		<span class="gigpress-sidebar-prep">in</span> 
		</span>
				<span class="gigpress-sidebar-city">Raleigh, NC</span>
    </span> 
	<span class="gigpress-sidebar-prep">at</span> 
    -->
	<span class="location gigpress-sidebar-venue"><a href="http://www.oxfordraleigh.com" target="_blank">The Oxford Pub</a></span> 
	</li>
</ul>


	<!-- Generated by GigPress 2.2.3 -->
	</aside><aside id="text-3" class="widget widget_text"><h3>Twitter Feed</h3>			<div class="textwidget"><script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 30000,
  width: 225,
  height: 325,
  theme: {
    shell: {
      background: '#111111',
      color: '#cccccc'
    },
    tweets: {
      background: '#111111',
      color: '#cccccc',
      links: '#009900'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: true,
    behavior: 'all'
  }
}).render().setUser('RedlineNC').start();
</script></div>
		</aside></div>

</div><!-- end #contentWrap -->

    {% include footer.html %}
</div><!-- end #innerWrapper -->
</div><!-- end #outerWrapper -->

  </body>

</html>
